
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'garage_app_Ticket_list' %}">
    Ticket Listing
    </a>
</p>
    
<table class="table">
    <tr><td>completed</td><td>{{ object.completed }}</td></tr>
    <tr><td>national_identification_number</td><td>{{ object.national_identification_number }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>ticket_total_price</td><td>{{ object.ticket_total_price }}</td></tr>
    <tr><td>parking_price_per_day</td><td>{{ object.parking_price_per_day }}</td></tr>
    <tr><td>car_color</td><td>{{ object.car_color }}</td></tr>
    <tr><td>car_owner_name</td><td>{{ object.car_owner_name }}</td></tr>
    <tr><td>reservation_time_per_day</td><td>{{ object.reservation_time_per_day }}</td></tr>
    <tr><td>owner_mobile_number</td><td>{{ object.owner_mobile_number }}</td></tr>
    <tr><td>car_model_name</td><td>{{ object.car_model_name }}</td></tr>
    <tr><td>position_number</td><td>{{ object.position_number }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>car_model_year</td><td>{{ object.car_model_year }}</td></tr>
    <tr><td>car_registration_no</td><td>{{ object.car_registration_no }}</td></tr>
    <tr><td>driver_license_number</td><td>{{ object.driver_license_number }}</td></tr>
    <tr><td>car_plate</td><td>{{ object.car_plate }}</td></tr>
    <tr><td>car_manufacturer</td><td>{{ object.car_manufacturer }}</td></tr>
    <tr><td>car_chassis_no</td><td>{{ object.car_chassis_no }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}