{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">ادارة التذاكر</h1>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm create-ticket"
                data-url="{% url 'ticket_list' %}">
            <i class="fas fa-plus fa-sm text-white-50"></i> انشاء تذكرة
        </button>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>المالك</th>
                        <th>الجوال</th>
                        <th>السيارة</th>
                        <th>موديل</th>
                        <th>رقم اللوحة</th>
                        <th>المبلغ المطلوب</th>
                        <th>الحالة</th>
                        <th class="text-center">العمليات</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.car_owner_name }}</td>
                            <td>{{ ticket.owner_mobile_number }}</td>
                            <td>{{ ticket.car_manufacturer }}</td>
                            <td>{{ ticket.car_model_name }} / {{ ticket.car_model_year }}</td>
                            <td>{{ ticket.car_registration_no }}</td>
                            <td>{{ ticket.ticket_total_price }}</td>
                            <td>{{ ticket.completed }}</td>
                            <td class="text-center">

                                <button class="btn btn-default btn-sm text-warning js-update-ticket"
                                        data-update-url="{% url 'ticket_detail' pk=ticket.pk %}">
                                    <i class="far fa-edit"></i>
                                </button>

                                <button class="btn btn-default btn-sm ml-2 js-delete-ticket text-danger"
                                        data-delete-name="{{ ticket.car_owner_name }} - {{ ticket.car_manufacturer }}"
                                        data-delete-url="{% url 'ticket_detail' pk=ticket.pk %}">
                                    <i class="far fa-trash-alt"></i>
                                </button>

                                <button class="btn btn-default btn-sm ml-2 text-success"
                                        data-delete-url="">
                                    <i class="fas fa-eye"></i>
                                </button>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'garage_app/ticket_form.html' %}
    {% include 'garage_app/ticket_confirm_delete.html' %}

    <!-- test qr modal -->
    {% include 'garage_app/ticket_detail.html' %}

{% endblock %}

{% block extra_js %}
    <!-- ticket crud -->
    <script src="{% static 'js/dynamic-crud.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}

